*::-webkit-input-placeholder {
     color: #666;
     opacity: 1;
 }
 
 *:-moz-placeholder {
     color: #666;
     opacity: 1;
 }
 
 *::-moz-placeholder {
     color: #666;
     opacity: 1;
 }
 
 *:-ms-input-placeholder {
     color: #666;
     opacity: 1;
 }
 
 body input:focus:required:invalid,
 body textarea:focus:required:invalid {}
 
 body input:required:valid,
 body textarea:required:valid {}

.a-r {
        text-align:right;
}
.a-l {
        text-align:left;
}
.a-c {
        text-align:center;
}
.f-l {
        float:left;
}
.f-r {
        float:right;
}
.clear {
        clear:both; 
        float: none;
}
.last {
        margin:0px;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    background-color:black;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
input[type="text"],
input[type="email"],
input[type="tel"]
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
}
