
@media only screen and (max-width : 1200px) {
    header {
        nav {
            ul {
                li {
                    margin-right: 50px;
                }
            }
        }
    }
}

@media only screen and (max-width : 992px) {
    header {
        nav {
            ul {
                li {
                    margin-right: 10px;
                }
            }
        }
    }
}

@media only screen and (max-width : 768px)  {
    header {
        nav {
            a#pull {
                display: block;
            }
            ul {
                display: none;
                li {
                    width: 100%;
                    margin-right: 0px;
                }
            }
        }
    }
}
@media only screen and (max-width : 480px)  {

}
@media only screen and (max-width : 320px)  {

}